.card-password {
    width: 300px;
    height: auto;
}


.contain-logo {

    text-align: center;

}

.img-logo {
    
    width: 150px;
    display: none;
}

h1 {
    font-size: medium;
    margin-bottom: 10px;
}
.contain-logo p {
 color: var(--very-light-pink);
 font-size:small;
 margin-bottom: 30px;


}

.form {
    height: 200px;
    
}
.contain-form {
    display: flex;
    flex-direction: column;
    color:var(--black);
    font-size: small;
    font-weight: bold;
    
   
}
.password {
    padding: 10px 0 10px 10px;
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

.new-password {
    padding: 10px 0 10px 10px;
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

.buttom-confirm {
    height: auto;
    padding: 10px 0 10px 0;
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-weight: bold;
    font-size: medium;
    
    
}

