@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Manrope";

}

body{
    font-size: 13px;
    background-color: #EDF2F8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20%;
}

main {
    background-color:white;
    border-radius: 10px;
    display: flex;
    height: 300px;
}

aside.left{
    flex:1 1 40%;
    padding: 10px;  
    border-top-left-radius: 10px;  
    border-bottom-left-radius: 10px;
    background-image: url("../images/drawers.jpg");
    background-size: cover;
}

aside.rigth{
    
    flex: 1 1 60%;
    padding: 30px 40px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    

}
aside{
    letter-spacing:1px ;
}
aside>h1{
    font-size: 1.3rem;
    
}
.color-font{
    color: hsl(217, 19%, 35%)

}
aside>p, .nombre-contacto>p{
    color:hsl(214, 17%, 51%)

}
.compartir{
    background-color: #F1F4F9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contacto {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;

    
}
.perfil {

    display:flex;
    justify-content:center;
    align-items: flex-end;
    padding-top: 10px;
}

.perfil>img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
} 

.nombre-contacto{
    padding-left: 20px;
}