
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    border: solid;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

main {
    border: solid #ff0000 5px;
    display: flex;
    height: 200px;
}

aside.left{
    border: solid green 2px;
    flex:1 1 40%;
    padding: 10px;    
}

aside.rigth{
    border: solid blue 2px;
    flex: 1 1 60%;
    padding: 10px;
}
