@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Manrope";

}

body{
    font-size: 13px;
    background-color: #EDF2F8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color:white;
    border-radius: 10px;
    display: flex;
    height: 300px;
    width: 700px;
}


aside.left{
    flex:1 1 40%; 
    border-top-left-radius: 10px;  
    border-bottom-left-radius: 10px;
    background-image: url("../images/drawers.jpg");
    background-size:cover;
    min-width: 280px;

}

aside.rigth{
    
    flex: 1 1 60%;
    padding: 30px 40px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    min-width: 420px;
    position: relative;
    z-index: 1;
    
    

}
aside{
    letter-spacing:1px ;
}
aside>h1{
    font-size: 1.3rem;
    margin-bottom: 5px;
    
}
.color-font{
    color: hsl(217, 19%, 35%);

}
aside>p, .nombre-contacto>p{
    color:hsl(214, 17%, 51%);

}
.compartir{
    background-color: #F1F4F9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contacto {
    padding-top: 10px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;

    
}
.perfil {

    display:flex;
    justify-content:center;
    align-items: flex-end;
    padding-top: 10px;
}

.perfil>img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
} 

.nombre-contacto{
    padding-left: 20px;
}


nav.compartir:hover {
    background-color:  hsl(217, 19%, 35%);
}
.compartir-redes {
    background-color:  hsl(217, 19%, 35%);
    width: 250px;
    height:auto;
    border-radius: 10px;
    display: flex;
    justify-content:space-around;
    justify-items: center;
    padding:20px 20px;

}
.icono-share{
    border:none;
    background-color:  hsl(217, 19%, 35%);
    color: hsl(212, 23%, 69%);
    font-size: 0.9rem;
    padding-right: 10px;
    letter-spacing: 5px;
}
#ir-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 150px;
    left:295px;
    z-index: 2;
}

@media screen and (max-width:375px) {

    main {

        flex-flow: column;
        max-width: 350px;
        height: 700px;
        margin:50px 20px 50px 20px;
            
    }
    aside.left{
        
        border-bottom-left-radius: 0px; 
        border-top-right-radius: 10px;
        height:200px;
        width: 350px;
       
        
    }
    
    aside.rigth{
    
        padding: 40px 30px;
        min-width: 350px;  

    }
   .perfil{
       display:none;
   }     
}  
